pkgbase = strata-inference-cuda
	pkgdesc = Strata CUDA inference engine and local API server for Qwen3.8-Flash-Next
	pkgver = 0.1.41.r1552.gfb58e0db
	pkgrel = 1
	url = https://github.com/Niko1221/Strata
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = git
	depends = cuda>=13
	depends = gcc-libs
	depends = glibc
	depends = python
	depends = python-numpy
	depends = python-jinja
	depends = python-regex
	depends = python-yaml
	depends = python-tqdm
	depends = python-requests
	depends = python-pillow
	depends = python-psutil
	optdepends = nvidia-utils: NVIDIA driver and GPU monitoring
	options = !lto
	source = strata::git+https://github.com/Niko1221/Strata.git#branch=main
	source = llama.cpp::git+https://github.com/ggml-org/llama.cpp.git#branch=master
	source = strata-inference
	source = README.md
	source = LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = f6b898688d5cdc62fd974cb2ec25de8000a3e9f489b519ed7befa8d2d50cad9b
	sha256sums = 87233fc184aa1397bc6f2c56dfa5ada20433638ea712560b465dbda196391d84
	sha256sums = 3aa11484d0b26858dc8e662f17e88ad03e4184d55b69f9b5e29e6feddd999ab5

pkgname = strata-inference-cuda
